<h1> Eat Da Burger!!!</h1>


<div class="container">
  <div id="burgerType">
    <h3> What type of burger would you like?</h3>
    <form action="/add" method ="POST">
        <input type="text" id="burgerName" name="burgerName" placeholder="Enter a burger you want to eat">
      <button type="submit">Add Burger</button>
    </form>

  </div>

</div>