<div class="conatiner">
  <h1> Eat Da Burger!!!</h1>
  <div class="container">
    <div id="burgerType">
      <h3> What type of burger would you like?</h3>
      <form id="createBurgers" action="/add" method="POST">
        <input type="text" id="burgerName" name="burgerName" placeholder="Enter a burger you want to eat">
        <button type="submit">Add Burger</button>
      </form>
    </div>
  </div>
</div>
</div>
<div class="finished-eating">
  <h2> Devour</h2>
  <hr>
  <ul>
    {{#each newBurger}}
      {{#if this.devoured}}
        <li>
          <p>{{this.burger_name}} </p>
          </li>
            <h3> Devour this burger?</h3>
              <form id="deleteBurgers" action="/devour" method="DELETE">
            <input type="text" id="devouredBurger" name="devouredBurger">
          <button type="submit">Devour Burger</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
  </ul>
</div>
</div>
</div>