html, body {
    min-height: 100vh;
    height: fit-content;
}

body {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
    background-color: wheat;
}

#jumbo-header {
    text-align: center;
}

.devoured-container {
    float:right;
    display: block;
    width: 100%;
    margin-top: 50px;
}

.to-eat-container {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 50px
}